commands:
  01_add_gconf_repo:
    command: |
      sudo yum-config-manager --add-repo=https://archives.fedoraproject.org/pub/archive/fedora/linux/releases/25/Everything/x86_64/os/Packages/g/GConf2-3.2.6-16.fc24.x86_64.rpm
      sudo rpm --import https://archives.fedoraproject.org/pub/archive/fedora/linux/releases/25/Everything/x86_64/os/Packages/g/GConf2-3.2.6-16.fc24.x86_64.rpm
  02_install_gconf2:
    command: sudo yum install -y GConf2

