packages:
  yum:
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXtst: []
    pango: []
    cups-libs: []
    libXrandr: []
    libXrandr-devel: []
    alsa-lib: []
    atk: []
    gtk3: []
    ipa-gothic-fonts: []
    xorg-x11-fonts-100dpi: []
    xorg-x11-fonts-75dpi: []
    xorg-x11-utils: []
    xorg-x11-fonts-cyrillic: []
    xorg-x11-fonts-misc: []
    xorg-x11-fonts-Type1: []
    xorg-x11-server-Xvfb: []

container_commands:
  01_install_playwright:
    command: |
      if [ ! -f /usr/local/bin/playwright ]; then
        echo "Installing Playwright..."
        source /var/app/venv/*/bin/activate
        pip install playwright
        playwright install
      else
        echo "Playwright is already installed."
      fi
